@import '~antd/dist/antd.css';

.container {
    display: flex;
}
.bg-container {
    display: flex;

    background-color: #2ECC71;
    background-size: cover;
    width: 26rem;
    height: 14rem;
    position: relative;
    
}
.header-arrow {
    display: flex;
    padding: 7px;
}
.arrow-size {
    font-size: 30px;
    color: white;
    padding-right: 10px;
    padding-top: 4px;
}
 

.header-title {
     font-size: 16px;
    color: white;

}
.tab-align {
    display: flex;
    justify-content: center;
    position: relative;
   

}
.tab-bg {
    width: 401px;
    height: 550px;
    background-color: gainsboro;
    padding-top: 9px;
    
    

}
.avatar {
    position: absolute;
    top: 77px;
    left: 137px;
    width: 96px;
}
.camera {
    position: absolute;
    top: 142px;
    right: 132px;
    width: 50px;
}
.home-tab {
    background-color: #ffffff;
    width: 25rem;
    height: 36rem;
    text-align: center;
    padding: 14px;
}
.profile-text {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
}
.form-input-field {
    width: 355px;
    height: 67px;
    border-radius: 10px;
    font-size: 17px;
    padding: 20px;
    margin-bottom: 20px;
    border-color: lightgray;
    border-style: solid;
}
.btn {
    
    color: white;
    width: 171px;
    height: 54px;
    border-radius: 8px;
    padding-right: 61px;
    margin-right:  5px;
    font-size: 16px;
}
.save-btn {
    background-color: #702cc7;

}
.next-btn {
    background-color: #2ecb71;
}
