@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

.container {
    display: flex;
    justify-content: center;
}
.bg-container {
    display: flex;

    background-color: #2ECC71;
    background-size: cover;
    width: 26rem;
    height: 14rem;
    position: relative;
    
}
.header-arrow {
    display: flex;
    padding: 7px;
}
.arrow-size {
    font-size: 30px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    padding-right: 10px;
    padding-top: 4px;
}
 

.header-title {
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 49px;
    top: 12px;
}
.tab-align {
    display: flex;
    justify-content: center;
    position: relative;
   

}
.tab-bg {
    width: 417px;
    height: 550px;
    background-color: gainsboro;
    padding-top: 14px;
    
    

}
.avatar {
    position: absolute;
    top: 77px;
    left: 137px;
    width: 96px;
}
.camera {
    position: absolute;
    top: 142px;
    right: 149px;
    width: 50px;
}
.home-tab {
    background-color: #ffffff;
    width: 26rem;
    height: 36rem;
    text-align: center;
    padding: 14px;
}
button{
    color: black;
  }
    
button:focus{
    color: #702cc7;
  }
.profile-text {
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    padding-bottom: 8px;
    border:none;
}
::after {
    color: #702cc7;
}
.form-input-field {
    width: 355px;
    height: 67px;
    border-radius: 10px;
    font-size: 17px;
    font-family: 'Noto Sans', sans-serif;
    padding: 20px;
    margin-bottom: 20px;
    border-color: lightgray;
    border-style: solid;
}
.btn {
    
    color: white;
    width: 171px;
    height: 54px;
    border-radius: 8px;
    padding-right: 61px;
    margin-right:  5px;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}
.save-btn {
    background-color: #702cc7;

}
.next-btn {
    background-color: #2ecb71;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
    position: relative;
    display: inline-block;
    display: flex;
    flex: auto;
    align-self: stretch;
    overflow: hidden;
    white-space: nowrap;
    transform: translate(0);
    margin-left: 5px;

}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
    color: white;
    background: #702cc7;
    /* width: 82px; */
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
    /* margin: 0; */
    /* padding: 8px 16px; */
    /* background: #fafafa; */
    border: 1px solid #f0f0f0;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-right: 4px;
    width: 105px;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white;
    text-shadow: 0 0 0.25px currentcolor;
}
ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
    position: absolute;
    right: 0;
    left: 0;
    border-bottom: 1px solid #f0f0f0;
    content: '';
}
ant-tabs-tab {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 12px 0;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}