@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
.head-container {
    position: fixed;
    z-index: 3;
}

.mypatient-heading {
    position: absolute;
    width: 414px;
    height: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background: #2EB96C;
}
.name-bg {
    display: flex;
    background-color: #2ECC71;
    background-size: cover;
    width: 26rem;
    height: 41px;
    /* position: relative; */
    position: fixed;
    top: 40px;
    text-align: center;
}
.arrow-size {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    width: 23px;
    position: absolute;
    top: 16px;
    left: 13px;
}
.header-title {
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    
}
.header-title2 {
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 147px;
    margin-top: 6px;
    font-family: 'Noto Sans', sans-serif;
}
.menu-dot {
    width: 5px;
    position: absolute; 
    right: 17px; 
    top: 10px;

}
.icons {
    background-color: #F0F0F0;
    width: 411px;
    height: 51px;
    position: absolute;
    top: 81px;
    padding-left: 19px;
    padding-top: 4px;
}
.icon-home-container {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    border-radius: 25px;
    margin-top: 3px;
    margin-right: 11px
}
.heading {
    background-color: #f7f7f7;
    width: 411px;
    height: 51px;
    position: fixed;
    top: 132px;
    z-index: 2;
}
.heading-style {
    font-size: 19px;
    position: absolute;
    left: 31px;
    font-family: 'Noto Sans', sans-serif;
    top: 11px;
    font-weight: bold;
}
.patient-container {
    position: absolute;
    top: 182px;
    left: 9px;
    z-index: 0;
    background-color: #f7f7f7;
    height: 82rem;
    width: 25rem;
    padding: 31px;
}
.patient-card {
    width: 21rem;
    height: 14rem;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 3px gainsboro;
    margin-bottom: 10px;
}
.patient-details {
    margin-top: -8px;
    margin-bottom: 3px;
    font-family: 'Noto Sans', sans-serif;
}
.names{
    margin-bottom: 0;
    font-size: 15px;
    color: gray;
}
.description-content {
    font-size: 14px;
    color: black;
    font-family: 'Noto Sans', sans-serif;
}
.patient-detail-container {
    background-color: #f7f7f7;
    width: 389px;
    height: 54rem;
    position: relative;
    top: 133px;
    left: 11px;
    padding: 10px;

}
.patient-name {
    background-color: #702cc7;
    width: 369px;
    height: 51px;
    font-size: 14px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    /* position: absolute; */
    padding-top: 7px;
    font-size: 11px;
    font-family: 'Noto Sans', sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.patient-icon-container {
    background-color: whitesmoke;
    width: 366px;
    margin-bottom: 9px;
    height: 9rem;
    font-size: 14px;
    color: white;
    box-shadow: 3px 3px gainsboro;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  


}
.male-container {
    background-color: #E2E3E3;
    width: 60px;
    height: 60px;
    border-radius: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 87px;
    right: 286px;
    margin-right: 20px;

}
.male {
    font-size: 27px;
    font-family: 'Noto Sans', sans-serif;
    position: absolute;
    top: 61px;
    left: 2px;

}
.patient-cards-with-icon {
    background-color: white;
    width: 112px;
    height: 9rem;
    border-radius: 9px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px gainsboro;
    line-height: 1;
}
.startvisit {
    font-size: 14px;
    width: 94px;
    padding-top: 13px;
    text-align: center;
}
.btn-regular {
    color: white;
    width: 358px;
    height: 63px;
    border-radius: 8px;
    padding-right: 20px;
    margin-right: 5px;
    font-size: 19px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}
.save-btn {
    background-color: #702cc7;
}